# DO NOT SHARE THE CONFIG FILE WITH YOUR DETAILS INSIDE WITH ANYONE
# It contains sensitive data such as database credentials and your discord token

[general]
token = 'Your token here'
prefix = '-'
invite_url =  'https://discord.com/api/oauth2/authorize?client_id=558412881574494239&permissions=8&scope=bot' # Replace with your invite URL

# Optional for when the music feature is enabled
# [music]
# lavalink_password = 'youshallnotpass'